<%= form_for(@movie) do |f| %>
  <p class: "form-group">
    <%= f.label :title, class: "form-label"%><br>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </p>
  <p class: "form-group">
    <%= f.label :description, class: "form-label"%><br>
    <%= f.text_area :description,  class: "form-control", cols: 60, rows: 8 %>
  </p>
  <p class: "form-group">
    <%= f.label :released_on %><br>
    <%= f.date_select :released_on, class: "form-control" , starts_year: 1900 %>
  </p>
  <p class: "form-group">
    <%= f.label :category %><br>
    <%= f.text_field :category, class: "form-control" %>
  </p>
  <p class: "form-group">
    <%= f.label :duration %><br>
    <%= f.number_field :duration, class: "form-control" %>
  </p>
  <p class: "form-group">
    <%= f.label :rating %><br>
    <%= f.text_field :rating, class: "form-control" %>
  </p>
  <p class: "form-group">
    <%= f.label :total_gross %><br>
    <%= f.number_field :total_gross, class: "form-control" %>
  </p>
  <p class: "form-group">
    <%= f.label :cast %><br>
    <%= f.text_field :cast, class: "form-control" %>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %> 
    <%= link_to "Cancel", movies_path, class: "btn btn-danger" %>
  </p>
<% end %>
