<h4 style = "float:left; padding-right:10px";><%= @movie.title %></h4>   |   <%= link_to "All Movies", movies_path %>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="card shadow justified">
      <img class="card-img-top img-fluid"><%= link_to image_tag "movie.jpg" %></img>
      <div class="card-block>
        <p class="card-text"><strong>Description: </strong><br><%= @movie.description %></p>

        <hr />
        <p>
          <strong><%= pluralize(@fans.size, 'Fan')%></strong>
        </p>
        <% if current_user %>
            <% if @current_favorite %>
              <%= button_to 'UnFav it!', movie_favorite_path(@movie, @current_favorite), method: :delete, class: "btn btn-outline-danger" %>
            <% else %>
              <%= button_to 'Fav it!', movie_favorites_path(@movie), class: "btn btn-outline-success" %>
            <% end %>
        <% end %>
        <br />

          <section class="tab-able">
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#date-released" data-toggle = "tab">Date Released</a></li>
                <li class="nav-item"><a class="nav-link" href="#category" data-toggle = "tab">Category</a></li>
                <li class="nav-item"><a class="nav-link" href="#duration" data-toggle = "tab">Duration</a></li>
                <li class="nav-item"><a class="nav-link" href="#rating" data-toggle = "tab">Rating</a></li>
                <li class="nav-item"><a class="nav-link" href="#total-gross" data-toggle = "tab">Gross Revenue</a></li>
                <li class="nav-item"><a class="nav-link" href="#cast" data-toggle = "tab">Actors</a></li>
              </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="date-released" role="tabpanel">
                <p><%= @movie.released_on %></p>
              </div>
              <div class="tab-pane" id="category" role="tabpanel">
                <p><%= @movie.category %></p>
              </div>
              <div class="tab-pane" id="duration" role="tabpanel">
                <p><%= @movie.duration %> mins</p>
              </div>
              <div class="tab-pane" id="rating" role="tabpanel">
                <p><%= @movie.rating %></p>
              </div>
              <div class="tab-pane" id="total-gross" role="tabpanel">
                <p><%= format_total_gross(@movie) %></p>
              </div>
              <div class="tab-pane" id="cast" role="tabpanel">
                <p><%= @movie.cast %></p>
              </div>
            </div>
          </section>
      </div>

      <div class="bottom-item">
        <%= link_to movie_reviews_path(@movie), class: "btn btn-outline-primary"  do %>
              <%= content_tag :span, pluralize(@movie.reviews.size, 'Review'), class: 'tag' %>
        <% end %>
         <br/><br/>
        <% if current_user_admin? %>
          <%= link_to "Edit", edit_movie_path(@movie) %> |
          <%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
    <br /><br />
    <div class="reviews">
      <h6>Reviews</h6>
      <%= render 'reviews/review' %>
      <br />
      <% if current_user %>
        <h6>Write a Review</h6>
        <%= render 'reviews/form' %>
      <% end %>

    </div>
  </div>
</div>
