<%= form_for(@user) do |f| %>
    <p class: "form-group">
      <%= f.label :name %>
      <span><%= f.text_field :name, class: "form-control", autofocus: true%></span>
    </p>
    <p class: "form-group">
      <%= f.label :email %>
      <span><%= f.text_field :email, class: "form-control" %></span>
    </p>
    <p class: "form-group">
      <%= f.label :password %>
      <span><%= f.password_field :password, class: "form-control" %></span>
    </p>
    <p class: "form-group">
      <span><%= f.label :password_confirmation, "Confirm Password" %></span>
      <span><%= f.password_field :password_confirmation, class: "form-control" %></span>
    </p><br />
    <p class:"form-group">
      <% if @user.new_record? %>
        <%= f.submit "Create Account", class: "btn btn-outline-primary" %>
        <span><%= link_to "Cancel", users_path, class: "btn btn-danger" %></span>
      <% else %>
      <%= f.submit "Update Account", class: "btn btn-primary" %>
      <span><%= link_to "Cancel", users_path, class: "btn btn-danger" %></span>
      <% end %>
    </p>
<% end %>
