<article class="users-list">
  <header>
    <h4><%= pluralize(@user.size, 'User') %> <i class="fa fa-users" aria-hidden="true"></i></h4>
    <hr>
  </header>
  <section>
    <% @user.each do |user| %>
      <table>
        <tr>
          <td class="user-name"><%= link_to user.name, user %>  </td>
          <% if current_user_admin? %>
                <td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_user_path(user), class: "btn btn-outline-warning" %></td>
                <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, user_path(user),
                          method: :delete,
                          data: { confirm: "Are you sure?"  },
                          class: "btn btn-outline-danger" %>
                </td>
            <% end %>
        </tr>
      </table>
    <% end %>
  </section>
  <hr />
  <footer>
    <nav>
      <% if current_user_admin? %>
        <%= link_to "Create New User", new_user_path, class: "btn btn-outline-primary" %>
      <% end %>
    </nav>
  </footer>
</article>
