<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class=" container-fluid navbar navbar-fixed-top" id="main-nav">
        <%= render 'movies/notice' %>
      </nav>

    <div class="container main-wrapper">

      <aside class="right-sidebar">
        <% if current_user %>
          <%= link_to current_user.name, current_user %>
          <%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out'.html_safe, session_path, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to '<i class="fa fa-address-book-o" aria-hidden="true"></i> Sign Up'.html_safe, signup_path, class: "btn btn-primary" %>
          <%= link_to '<i class="fa fa-sign-in" aria-hidden="true"></i> Sign In'.html_safe, new_session_path, class: "btn btn-success" %>
        <% end %>

        <ul id="add-show-nav">
          <% if current_user %>
            <li><%= link_to "Show All Users", users_path, class: "btn btn-outline-info add-show-nav-item" %></li>
          <% end %>
          <li><%= link_to "Show All Movies", movies_path, class: "btn btn-outline-success add-show-nav-item" %></li>
          <% if current_user_admin? %>
            <li><%= link_to "Add New Movie", new_movie_path, class: "btn btn-outline-primary add-show-nav-item" %></li>
          <% end %>
        </ul>
      </aside>

      <%= yield %>
    </div>

  </body>
</html>
